<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객실 관리</title>
    <link rel="stylesheet" href="/css/managerRoom.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/javaScript/managerRoom.js"></script>
</head>

<body>
    <header>
        <h1>펜션 객실 관리자 페이지</h1>
        <nav>
            <ul>
                <li><a href="#">예약 관리</a></li>
                <li><a href="#">객실 관리</a></li>
                <li><a href="#">회원 관리</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>객실 목록</h1>
        <table>
            <thead>
                <tr>
                    <th>객실 이름</th>
                    <th>인원</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody id="room">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    </main>

</body>
</body>

</html>