<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>글램핑</title>
<link rel="stylesheet" href="/css/glamping/glamping.css">
</head>
<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>
	<div class="scroll">
		<div class="glamping_main">
			<img src="/img/glamping/glamping_night_view.png" alt="">
		</div>
	</div>
	<div class="glamping_text">
		<h2>Korea Glamping</h2>
		<p>※Korea 펜션의 모든 숙소의 구조와 면적은 동일합니다.※</p>
	</div>




	<div class="scroll">
		<div class="glamping_interior1">
			<img src="/img/glamping/glamping_interior1.png" alt="">
		</div>
	</div>
	<div class="glamping_text1">
		<div>
			<h2>Korea Interior</h2>
			<p>; 코리아 펜션과 동일규모 동일구조</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_interior2">
			<img src="/img/glamping/glamping_interior2.png" alt="">
		</div>
	</div>
	<div class="glamping_text2">
		<div>
			<h2>Korea Interiorr</h2>
			<p>; 코리아 펜션과 동일규모 동일구조</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_interior3">
			<img src="/img/glamping/glamping_interior3.png" alt="">
		</div>
	</div>
	<div class="glamping_text3">
		<div>
			<h2>Korea Interior</h2>
			<p>; 코리아 펜션과 동일규모 동일구조</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_interior4">
			<img src="/img/glamping/glamping_interior4.png" alt="">
		</div>
	</div>
	<div class="glamping_text4">
		<div>
			<h2>Private BBQ Terrace</h2>
			<p>; 글램핑 내부에 있는 개별 바비큐 테라스</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_interior5">
			<img src="/img/glamping/glamping_interior5.png" alt="">
		</div>
	</div>
	<div class="glamping_text5">
		<div>
			<h2>Outdoor Spa</h2>
			<p>; 글램핑 내부에 있는 프라이빗 노천욕장</p>
		</div>
	</div>


	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>
</html>


