<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>가을</title>
<link rel="stylesheet" href="/css/guide/autumn.css">
</head>
<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>
	<div class="scroll">
		<div class="glamping_main">
			<img src="/img/glamping/glamping.png" alt="">
		</div>
	</div>
	<div class="glamping_text">
		<h2>Korea Glamping</h2>
		<p>autumn</p>
	</div>


	<div class="scroll">
		<div class="glamping_1">
			<img src="/img/glamping/glamping_night_view.png" alt="">
		</div>
	</div>
	<div class="glamping_text1">
		<div>
			<h2>Fantastic Nightview</h2>
			<p>;드위트리 글램핑만의 환상적인 야경</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_2">
			<img src="/img/glamping/glamping_night_view2.png" alt="">
		</div>
	</div>
	<div class="glamping_text2">
		<div>
			<h2>Fantastic Nightview</h2>
			<p>;드위트리 글램핑만의 환상적인 야경</p>
		</div>
	</div>


	<div class="scroll">
		<div class="glamping_3">
			<img src="/img/glamping/glamping2.png" alt="">
		</div>
	</div>
	<div class="glamping_text3">
		<div>
			<h2>Private BBQ Terrace</h2>
			<p>;글램핑 내부에 있는 개별 바비큐 테라스</p>
		</div>
	</div>



	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>
</html>