<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>시설안내</title>
<link rel="stylesheet" href="/css/guide/facility_Information.css">
</head>

<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>

	<div class="main_container">
		<div class="scroll">
			<div class="guide">
				<img src="/img/facility_information/guide_glamping.png" alt="">
			</div>
		</div>
		<div class="text-guide">
			<h2>시설 안내</h2>
			<p>폭 70미터 초대형 풀</p>
			<p>한국의 몰디브 풀빌라</p>
			<p>코리아 펜션 &카라반 가든 &글램핑</p>
			<p>최상의 힐링을 선사합니다.</p>
		</div>

		<div class="scroll">
			<div class="guide1">
				<img src="/img/facility_information/guide_pension.png" alt="">
			</div>
		</div>
		<div class="pension-text">
			<div>
				<h3>Dwitree Emerald Pool</h3>
				<p>수심 30cm~120cm로 아이와 어른 모두 즐길 수 있는 에메랄드 풀입니다.</p>
			</div>
		</div>

		<div class="scroll">
			<div class="map-guide">
				<img src="/img/facility_information/map_1.png" alt="">
			</div>
		</div>

		<div class="scroll">
			<div class="canoe-guide">
				<img src="/img/pension/canoe.png" alt="">
			</div>
		</div>
		<div class="canoe-text">
			<div>
				<h3>Transparent Canoe</h3>
				<p>반짝이는 물결을 가르는 투명카누</p>
			</div>
		</div>


		<div class="scroll">
			<div class="pedal_boat-guide">
				<img src="/img/pension/pedal_boat.png" alt="">
			</div>
		</div>
		<div class="pedal-text">
			<div>
				<h3>Pedal Boat</h3>
				<p>페달보트</p>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan-guide">
				<img src="/img/caravan/caravan2.png" alt="">
			</div>
		</div>
		<div class="caravan-text">
			<div>
				<h3>Private Garden</h3>
				<p>4면이 둘러싸인 비밀스런 나만의 가든</p>
			</div>
		</div>


		<div class="scroll">
			<div class="glamping-guide">
				<img src="/img/glamping/glamping.png" alt="">
			</div>
		</div>
		<div class="glamping-text">
			<div>
				<h3>Peace in Korea Lake</h3>
				<p>코스길이 150m 초대형 풀</p>
			</div>
		</div>

		<div class="scroll">
			<div class="cafe-guide">
				<img src="/img/cafe/cafe1.png" alt="">
			</div>
		</div>
		<div class="cafe-text">
			<div>
				<h3>GRANDPAPA CAFE</h3>
				<p>코리아 고객을 위한 격조 높은 휴식 공간</p>
				<p>아침엔 조식 제공(08:30~09:30)</p>
			</div>
		</div>

		<div class="scroll">
			<div class="cafe-guide2">
				<img src="/img/cafe/cafe2.png" alt="">
			</div>
		</div>
		<div class="cafe-text2">
			<div>
				<h3>GRANDPAPA CAFE</h3>
				<p>코리아 고객을 위한 격조 높은 휴식 공간</p>
				<p>1층은 카페 (08:30~09:30 조식 제공) / 3층은 레포츠룸</p>
			</div>
		</div>

		<div class="scroll">
			<div class="leisure_sports-guide">
				<img src="/img/facility_information/leisure_sports room1.png" alt="">
			</div>
		</div>
		<div class="leisure_sports-text">
			<div>
				<h3>GRANDPAPA 3층-레포츠룸</h3>
				<p>당구,테이블축구,전자오락기,고급 안마기...</p>
				<p>(1인당 5천원 무제한 이용)</p>
			</div>
		</div>

		<div class="scroll">
			<div class="leisure_sports-guide2">
				<img src="/img/facility_information/leisure_sports room2.png" alt="">
			</div>
		</div>
		<div class="leisure_sports-text2">
			<div>
				<h3>GRANDPAPA 3층-레포츠룸</h3>
				<p>당구,테이블축구,전자오락기,고급 안마기...</p>
				<p>(1인당 5천원 무제한 이용)</p>
			</div>
		</div>
	</div>


	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>



</body>

</html>