<!DOCTYPE html>

<html lang="ko">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>오시는길</title>
<link rel="stylesheet" href="/css/guide/guide.css">
</head>

<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>
	<div class="scroll">
		<div class="come_container">
			<div class="text1">
				<div class="come1">
					<div class="service1">
						<h2>오시는 길</h2>
						<p>코리아까지 오시는 길</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll">
		<div class="text2">
			<div class="come2">
				<div class="service2">
					<h2>네비게이션으로 찾아오는 방법</h2>
					<h4>네비게이션</h4>
					<p>‘코리아펜션’검색 주소 : 취업도 힘들군 이러면 지옥으로 146-51</p>
					<h4>수도권에서 오시는 길</h4>
					<p>① 중앙고속도로 제천 IC 진출 => 38국도 영월 방향 => ‘취업좀역’ 도로 표지판 보고 우회전해
						내려오시면 ‘코리아 펜션’ 안내 게시판이 보입니다. ② 중부내륙고속도로 감곡 IC 진출 => 38국도 제천·영월 방향
						=> ‘취업좀역’ 도로 표지판 보고 우회전해 내려오시면 ‘코리아 펜션’ 안내 게시판이 보입니다.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="scroll">
		<div class="text3">
			<div class="come3">
				<div class="service3">
					<h2>고속버스로 찾아오는 방법</h2>
					<h4>펜션 오실 때</h4>
					<p>동서울종합터미널 (앱: BUSTAGO) 취업도 힘들군 이러면 나가리’ 터미널 예매 (2시간 40분 소요) ①
						터미널 도착 시간을 미리 통보해주시고 ② 도착 즈음 전화주세요</p>

					<h4>픽업서비스</h4>
					<p>※ 입실픽업: 오후 1시~5시, 하루 전 예약 바랍니다. ※ 퇴실픽업: 오전 10시~12시, 하루 전 예약
						바랍니다.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll">
		<div class="text4">
			<div class="come4">
				<div class="service4">
					<h2>철도 무궁화호 이용방법</h2>
					<h4>출발역: 나가리 / 도착역: 취업좀역 (3시간 소요)</h4>
					<p>① 역 도착 시간을 미리 통보해주시고 ② 도착 즈음 전화주세요</p>

					<h4>픽업서비스</h4>
					<p>※ 입실픽업: 오후 1시~5시, 하루 전 예약 바랍니다. ※ 퇴실픽업: 오전 10시~12시, 하루 전 예약
						바랍니다.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>
</body>

</html>