<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>봄</title>
<link rel="stylesheet" href="/css/guide/spring.css">
</head>

<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>
	<div class="scroll">
		<div class="caravan_main">
			<img src="/img/caravan/caravan1.png" alt="">
		</div>
	</div>
	<div class="caravan_text">
		<h2>Korea Caravan Garden</h2>
		<p>Spring</p>
	</div>

	<div class="scroll">
		<div class="caravan_1">
			<img src="/img/caravan/caravan2.png" alt="">
		</div>
	</div>
	<div class="caravan_text1">
		<div>
			<h2>Private Garden</h2>
			<p>;4면이 둘러싸인</p>
			<p>비밀스런 나만의 가든</p>
		</div>
	</div>


	<div class="scroll">
		<div class="caravan_2">
			<img src="/img/caravan/caravan_spa.png" alt="">
		</div>
	</div>
	<div class="caravan_text2">
		<div>
			<h2>Outdoor Spa</h2>
			<p>;해발 600미터</p>
			<p>천연 계곡수로 즐기는 노천탕</p>
		</div>
	</div>


	<div class="scroll">
		<div class="caravan_3">
			<img src="/img/caravan/caravan_fire.png" alt="">
		</div>
	</div>
	<div class="caravan_text3">
		<div>
			<h2>Camp Fire</h2>
			<p>;고급 파이어핏으로 즐기는</p>
			<p>참나무 캠프파이어</p>
		</div>
	</div>


	<div class="scroll">
		<div class="caravan_4">
			<img src="/img/caravan/caravan_bbq.png" alt="">
		</div>
	</div>
	<div class="caravan_text4">
		<div>
			<h2>Private BBQ Terrace</h2>
			<p>;프라이빗 바비큐실 구비</p>
			<p>(BBQ실 전용 별도 냉장고 구비)</p>
		</div>
	</div>


	<div class="scroll">
		<div class="caravan_5">
			<img src="/img/caravan/caravan_pool.png" alt="">
		</div>
	</div>
	<div class="caravan_text5">
		<div>
			<h2>Pedal Boat & Transparent Canoe</h2>
			<p>;초대형 풀에서 즐기는 페달보트 & 투명카누</p>
		</div>
	</div>

	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>

</html>