<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>여름</title>
<link rel="stylesheet" href="/css/guide/summer.css">
</head>
<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>

	<div class="scroll">
		<div class="pension_main">
			<img src="/img/facility_information/guide_pension.png" alt="">
		</div>
	</div>
	<div class="pension_text">
		<h2>Korea Pension</h2>
		<p>Summer</p>
	</div>


	<div class="scroll">
		<div class="pension_1">
			<img src="/img/pension/canoe.png" alt="">
		</div>
	</div>
	<div class="pension_text1">
		<div>
			<h2>Transparent Canoe</h2>
			<p>; 반짝이는 물결을 가르는 투명카누</p>
		</div>
	</div>



	<div class="scroll">
		<div class="pension_2">
			<img src="/img/pension/pedal_boat.png" alt="">
		</div>
	</div>
	<div class="pension_text2">
		<div>
			<h2>Pedal Boat</h2>
			<p>; 페달보트</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_3">
			<img src="/img/pension/pension1.png" alt="">
		</div>
	</div>
	<div class="pension_text3">
		<div>
			<h2>Pool lounge & Boat</h2>
			<p>; 고급 풀라운지 & 보트 대여 (9월 중순까지 수영가능)</p>
		</div>
	</div>

	<div class="scroll">
		<div class="pension_4">
			<img src="/img/pension/terrace.png" alt="">
		</div>
	</div>
	<div class="pension_text4">
		<div>
			<h2>Private Terrace</h2>
			<p>; 개별 테라스… 여유로운 휴식</p>
		</div>
	</div>

	<div class="scroll">
		<div class="pension_5">
			<img src="/img/pension/pension_night_view2.png" alt="">
		</div>
	</div>
	<div class="pension_text5">
		<div>
			<h2>Fantastic Nightview</h2>
			<p>; 드위트리만의 환상적인 야경</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_6">
			<img src="/img/pension/pension_night_view3.png" alt="">
		</div>
	</div>
	<div class="pension_text6">
		<div>
			<h2>Fantastic Nightview</h2>
			<p>; 드위트리만의 환상적인 야경</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_7">
			<img src="/img/pension/pension_bbq.png" alt="">
		</div>
	</div>
	<div class="pension_text7">
		<div>
			<h2>BBQ Party in glass cube</h2>
			<p>; 유리큐브 속 BBQ 파티</p>
		</div>
	</div>


	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>
</html>