<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>겨울</title>
    <link rel="stylesheet" href="/css/guide/winter.css">
</head>

<body>
    <th:block th:include="/fragments/mainheader.html"></th:block>
    <div class="scroll">
		<div class="pension_main">
			<img src="/img/pension/pension_winter3.png" alt="">
		</div>
	</div>
	<div class="pension_text">
		<h2>Korea Pension</h2>
		<p>Winter</p>
	</div>


	<div class="scroll">
		<div class="pension_1">
			<img src="/img/pension/pension_winter.png" alt="">
		</div>
	</div>
	<div class="pension_text1">
		<div>
			<h2>Fantastic Nightview</h2>

		</div>
	</div>


	<div class="scroll">
		<div class="pension_2">
			<img src="/img/pension/pension_winter2.png" alt="">
		</div>
	</div>
	<div class="pension_text2">
		<div>
			<h2>Fantastic Nightview</h2>

		</div>
	</div>


	<div class="scroll">
		<div class="pension_3">
			<img src="/img/pension/pension_winter4.png" alt="">
		</div>
	</div>
	<div class="pension_text3">
		<div>
			<h2>Fantastic Nightview</h2>

		</div>
	</div>


	<div class="scroll">
		<div class="pension_4">
			<img src="/img/pension/pension_night_view1.png" alt="">
		</div>
	</div>
	<div class="pension_text4">
		<div>
			<h2>Fantastic Nightview</h2>

		</div>
	</div>


    <!-- 풋터 -->

    <div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>

</html>