@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/* 스크롤바 숨기기 */
*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.main-container{
    width: 1920px;
}
#header{
    width: 200px;
    margin: 0px auto;
}
.header1{
    position: fixed;
}

.header_logo img{
    width: 150px;
    height: 100%;
}
.threeLineImg{
    position: relative;
    top: 40px;
    left: 800px;

}
.threeLineImg > div{
    position: fixed;
}
.threeLineImg img{
    width: 40px;
}
.kor-pc{
    width: 1200px;
    margin:  0 auto;
}
#header .container{
    padding: 0 20px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.kor-pc{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.kor-list{
    display: flex;
    flex-direction: row;
}
.kor-list > li{
    width: 25%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 5px;
    border-radius: 5px;
}
.spring{
    background-color: lightpink;
}
.summer{
    background-color: lightblue;
}
.fall{
    background-color: lightyellow;
}
.winter{
    background-color: lightslategray;
}
.kor-list-sub{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 150px;
    margin-top: 10px;
}
.kor-list-sub  li{
    list-style: none;
    background-color: #282828;
    margin: 2px;
}
.kor-list-sub > a{
    text-decoration: none;
    color: white;
}
.content1{
    display: flex;
    flex-direction: row;
}
.content1 > li{
    width: 50%;
    height: 80px;
    text-align: center;
    padding-top: 50px;
    background: #282828 (0,0,0,1);
}
.content2{
    display: flex;
    flex-direction: row;
}
.content2 > li{
    width: 50%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
}
.content3{
    display: flex;
    flex-direction: row;
}
.content3 > li{
    width: 50%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
}
.content4{
    display: flex;
    flex-direction: row;
}
.content4 > li{
    width: 50%;
    height: 80px;
    text-align: center;
    padding-top: 50px;
}


