<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>펜션</title>
<link rel="stylesheet" href="/css/pension/pension.css">
</head>
<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>
	<div class="scroll">
		<div class="pension_main">
			<img src="/img/facility_information/guide_pension.png" alt="">
		</div>
	</div>

	<div class="pension_text">
		<h2>Korea Pension</h2>
		<p>※Korea 펜션의 모든 숙소의 구조와 면적은 동일합니다.※</p>
	</div>

	<div class="scroll">
		<div class="pension_interior1">
			<img src="/img/pension/pension_interior1.png" alt="">
		</div>
	</div>
	<div class="pension_text1">
		<div>
			<h2>Maldive Poolvilla Interior</h2>
			<p>; 몰디브 풀빌라 인테리어</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_interior2">
			<img src="/img/pension/pension_interior2.png" alt="">
		</div>
	</div>
	<div class="pension_text2">
		<div>
			<h2>Maldive Poolvilla Interior</h2>
			<p>; 몰디브 풀빌라 인테리어</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_interior3">
			<img src="/img/pension/pension_interior3.png" alt="">
		</div>
	</div>
	<div class="pension_text3">
		<div>
			<h2>Washroom</h2>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_interior4">
			<img src="/img/pension/pension_interior4.png" alt="">
		</div>
	</div>
	<div class="pension_text4">
		<div>
			<h2>Luxury Hotel’s Bedding</h2>
			<p>; 고급 호텔식 침구</p>
		</div>
	</div>


	<div class="scroll">
		<div class="pension_interior5">
			<img src="/img/pension/pension_interior5.png" alt="">
		</div>
	</div>
	<div class="pension_text5">
		<div>
			<h2>BBQ Party in Glass Cube</h2>
			<p>; 유리큐브 테라스 BBQ 파티</p>
		</div>
	</div>
	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>


</body>
</html>






























