<footer>
	<ul>
		<li class="left">
			<div>
				<h2>
					<img src="/img/source/logo.png" alt="">
				</h2>
			</div>
			<div>
				<p>주소 : 서울 마포구 서강로 136</p>
				<p>E-mail : project@project.co.kr</p>
				<p>상호 : 햄버거 다음은 펜션</p>
				<p>대표 : 윤승찬</p>
				<p>사업자 번호 : 111-11-11111</p>
				<p>예약문의 : 111-1111-1111</p>
			</div>
		</li>
		<li class="center">
			<ul>
				<li><a href="/spring">봄</a></li>
				<li><a href="/summer">여름</a></li>
				<li><a href="/autumn">가을</a></li>
				<li><a href="/winter">겨울</a></li>
			</ul>
			<ul>
				<li><a href="">객실보기</a></li>
				<li><a href="/facility_information">시설안내</a></li>
				<li><a href="/guide">오시는길</a></li>
				<li><a href="/reservation_information">예약 안내</a></li>
				<li><a href="">실시간 예약</a></li>
			</ul>
		</li>
		<li class="right">
			<ul>
				<li class="right1"><a href="/pension">코리아 펜션</a></li>
				<li class="right2"><a href="/glamping">코리아 글램핑</a></li>
				<li class="right3"><a href="/caravan">코리아 카라반</a></li>
			</ul>
		</li>
	</ul>
</footer>
<style>
footer {
	width: 1920px;
	height: 500px;
	background-color: #2b2b2b;
}

footer h2 img {
	width: 100px;
}

footer>ul {
	width: fit-content;
	height: fit-content;
	margin: 0px 265px;
	/* border: 1px solid black; */
	list-style-type: none;
	text-decoration: none;
}

footer>ul>li {
	margin: 100px 70px 0px 70px;
	float: left;
}

.center, .right {
	padding-top: 50px;
}

.center ul, .right ul {
	list-style-type: none;
}

.left p {
	color: white;
	margin-top: 10px;
}

.left>div {
	padding-top: 10px;
}

.center ul a, .right ul a {
	text-decoration: none;
	color: white;
}

.center ul li, .right ul li {
	padding-top: 10px;
}

.center>ul {
	float: left;
	margin: 0px 80px;
}

.right1 {
	background: url('/img/main/main_pension.png') no-repeat;
	width: 150px;
	height: 100px;
	background-position: center center;
	background-size: cover;
	display: block;
	float: left;
}

.right2 {
	background: url('/img/main/main_glamping.png') no-repeat;
	width: 150px;
	height: 100px;
	background-position: center center;
	background-size: cover;
	position: relative;
	left: 170px;
}

.right3 {
	background: url('/img/main/main_caravan.png') no-repeat;
	width: 150px;
	min-height: 100px;
	background-position: center center;
	background-size: cover;
	margin-top: 20px;
}

.right1 a {
	font-size: 20px;
	position: relative;
	top: 30px;
	left: 30px;
	font-weight: bold;
}

.right3 a {
	font-size: 20px;
	position: relative;
	top: 30px;
	left: 20px;
	font-weight: bold;
}

.right2 a {
	font-size: 20px;
	position: relative;
	top: -70px;
	left: 20px;
	font-weight: bold;
}
</style>