<header id="header">
	<div class="header1">
		<a href="/" class="header_logo"> <img src="/img/source/logo.png"
			alt="">
		</a>
	</div>
	<div class="threeLineImg">
		<div>
			<a href="/menu"> <img src="/img/source/icon3line.png" alt="">
			</a>
		</div>
	</div>
</header>
<style>
#header {
	width: 200px;
	margin: 0px auto;
}

.header1 {
	position: fixed;
}

.header_logo img {
	width: 150px;
	height: 100%;
}

.threeLineImg {
	position: relative;
	top: 40px;
	left: 800px;
}

.threeLineImg>div {
	position: fixed;
}

.threeLineImg img {
	width: 40px;
}
</style>
