<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>카라반 가든</title>
<link rel="stylesheet" href="/css/caravan/caravan.css">
</head>

<body>
	<th:block th:include="/fragments/mainheader.html"></th:block>

	<div class="main_container">

		<div class="scroll">
			<div class="caravan_main">
				<img src="/img/caravan/caravan1.png" alt="">
			</div>
		</div>
		<div class="caravan_text">
			<h2>Korea Caravan Garden</h2>
			<p>※Korea 펜션의 모든 숙소의 구조와 면적은 동일합니다.※</p>
		</div>



		<div class="scroll">
			<div class="caravan_interior1">
				<img src="/img/caravan/caravan_interior1.png" alt="">
			</div>
		</div>
		<div class="caravan_text1">
			<div>
				<h2>최상급 확장형 카라반</h2>
				<p>; 호텔 스위트룸 컨셉의 럭셔리 카라반</p>
			</div>
		</div>




		<div class="scroll">
			<div class="caravan_interior2">
				<img src="/img/caravan/caravan_interior2.png" alt="">
			</div>
		</div>

		<div class="caravan_text2">
			<div>
				<h2>최상급 확장형 카라반</h2>
				<p>; 호텔 스위트룸 컨셉의 럭셔리 카라반</p>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan_interior3">
				<img src="/img/caravan/caravan_interior3.png" alt="">
			</div>
		</div>
		<div class="caravan_text3">
			<div>
				<h2>Kitchen</h2>
				<P>; 가스레인지, 전자레인지, 냉장고</P>
				<p>; 냄비, 후라이팬, 그릇, 컵, 수저, 젓가락, 뒤집개 등 각종 주방용품 구비</p>
			</div>
		</div>



		<div class="scroll">
			<div class="caravan_interior4">
				<img src="/img/caravan/caravan_interior4.png" alt="">
			</div>
		</div>
		<div class="caravan_text4">
			<div>
				<h2>Bedroom</h2>
				<P>; 2인용 침대 - 호텔식 침구 제공</P>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan_interior5">
				<img src="/img/caravan/caravan_interior5.png" alt="">
			</div>
		</div>
		<div class="caravan_text5">
			<div>
				<h2>2층 침대</h2>
				<p>; 키 180cm 이하 이용 가능 (총 6인 숙박 가능)</p>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan_interior6">
				<img src="/img/caravan/caravan_interior6.png" alt="">
			</div>
		</div>
		<div class="caravan_text6">
			<div>
				<h2>Sofa Bed</h2>
				<P>; 별도 호텔식 침구 제공 (총 6인 숙박 가능)</P>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan_bbq">
				<img src="/img/caravan/caravan_bbq.png" alt="">
			</div>
		</div>

		<div class="caravan_bbq_text">
			<div>
				<h2>프라이빗 BBQ실</h2>
				<p>; 고급 가스그릴, 각종 BBQ용품,</p>
				<p>BBQ실 전용 별도 냉장고 구비</p>
			</div>
		</div>


		<div class="scroll">
			<div class="caravan_restroom">
				<img src="/img/caravan/caravan_ restroom.png" alt="">
			</div>
		</div>

		<div class="caravan_restroom_text">
			<div>
				<h2>Washroom</h2>
				<P>; 샤워실 갖춘 카라반 내 워시룸</P>
				<P>(체크인센터 2층 공용 샤워실&화장실도 사용가능)</P>
			</div>
		</div>
	</div>


	<!-- 풋터 -->
	<div class="scroll">
		<th:block th:include="/fragments/footer.html"></th:block>
	</div>

</body>

</html>